# Environments and Secrets
.env
venv/
env/
*.env
*.env*.local

# Python Cache Files
__pycache__/
*/__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class

# Database Files (Just in case you ever use SQLite)
db.sqlite3

# Misc
instructions.md

# Static files
staticfiles/